<p>
  admin works!
</p>
<div class="form-group col-md-6">
  <label>Flights</label>
  <select name="flights" [ngModel]="selectedFlight" (change)="onFlightSelect()" required class="form-control form-control-sm">

    <!--<option value="1109001">Comilla</option>
    <option value="1109002">Chittagong</option>
    <option value="1109003">Sylet</option>
    <option value="1109004">Barishal</option>-->

    <option *ngFor="let flight of flights" [value]="flight.key">{{flight.name}}</option>
  </select>
</div>
<!--<table mat-table [dataSource]="dataSource" class="table-box">

  - Note that these columns can be defined in any order.
  The actual rendered columns are set as a property on the row definition" 
   Position Column 
   Name Column 
  <ng-container matColumnDef="user">
    <th mat-header-cell *matHeaderCellDef class="text-header-small table-header-color"> User </th>
    <td mat-cell *matCellDef="let element"> {{element.user}} </td>
  </ng-container>

   Weight Column 
  <ng-container matColumnDef="seat">
    <th mat-header-cell *matHeaderCellDef class="text-header-small table-header-color"> Seat </th>
    <td mat-cell *matCellDef="let element"> {{element.seat}} </td>
  </ng-container>

  <tr mat-header-row class="table-header-row" *matHeaderRowDef="displayedColumns;"></tr>
  <tr mat-row class="text-header-small" *matRowDef="let row; columns: displayedColumns;"></tr>
</table>-->
