
  <div class="container-fluid pt-5 mb-5">
    <div class="row justify-content-center">
      <div class="col-md-9 ">
      <div class="seat_plan_wrap">
        <div class="row">
          <div class="col-md-6">
            <h6>Select Seats </h6>
            <div class="seats seat-settings">
              <div class="handle">
                <img src="../assets/img/handle.png" alt="">
              </div>
              <div class="row1">
                <ul>
                  <li>
                    <a (click)="Seat('A1')" id="A1" title="[A1]">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a (click)="Seat('B1')" id="B1" title="[B1]">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[C1]" (click)="Seat('C1')" id="C1">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[D1]" (click)="Seat('D1')" id="D1">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[E1]" (click)="Seat('E1')" id="E1">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[F1]" (click)="Seat('F1')" id="F1">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[G1]" (click)="Seat('G1')" id="G1">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[H1]" (click)="Seat('H1')" id="H1">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[I1]" (click)="Seat('I1')" id="I1">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a (click)="Seat('J1')" id="J1" title="[J1]">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a (click)="Seat('K1')" id="K1" title="[K1]">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[L1]" (click)="Seat('L1')" id="L1">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[M1]" (click)="Seat('M1')" id="M1">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[O1]" (click)="Seat('O1')" id="O1">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[P1]" (click)="Seat('P1')" id="P1">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[Q1]" (click)="Seat('Q1')" id="Q1">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[S1]" (click)="Seat('S1')" id="S1">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[T1]" (click)="Seat('T1')" id="T1">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                </ul>


                <ul>
                  <li>
                    <a title="[A2]" (click)="Seat('A2')" id="A2">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[B2]" (click)="Seat('B2')" id="B2">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[C2]" (click)="Seat('C2')" id="C2">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[D2]" (click)="Seat('D2')" id="D2">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[E2]" (click)="Seat('E2')" id="E2">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[F2]" (click)="Seat('F2')" id="F2">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[G2]" (click)="Seat('G2')" id="G2">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[H2]" (click)="Seat('H2')" id="H2">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[I2]" (click)="Seat('I2')" id="I2">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a (click)="Seat('J2')" id="J2" title="[J2]">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a (click)="Seat('K2')" id="K2" title="[K2]">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[L2]" (click)="Seat('L2')" id="L2">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[M2]" (click)="Seat('M2')" id="M2">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[O2]" (click)="Seat('O2')" id="O2">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[P2]" (click)="Seat('P2')" id="P2">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[Q2]" (click)="Seat('Q2')" id="Q2">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[S2]" (click)="Seat('S2')" id="S2">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[T2]" (click)="Seat('T2')" id="T2">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                </ul>
               


              </div>
              <div class="row1">

                <ul>
                  <!-- ROW 3 START -->
                  <li>
                    <a title="[A3]" (click)="Seat('A3')" id="A3">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[B3]" (click)="Seat('B3')" id="B3">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[C3]" (click)="Seat('C3')" id="C3">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[D3]" (click)="Seat('D3')" id="D3">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[E3]" (click)="Seat('E3')" id="E3">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[F3]" (click)="Seat('F3')" id="F3">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[G3]" (click)="Seat('G3')" id="G3">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[H3]" (click)="Seat('H3')" id="H3">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[I3]" (click)="Seat('I3')" id="I3">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a (click)="Seat('J3')" id="J3" title="[J3]">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a (click)="Seat('K3')" id="K3" title="[K3]">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[L3]" (click)="Seat('L3')" id="L3">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[M3]" (click)="Seat('M3')" id="M3">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[O3]" (click)="Seat('O3')" id="O3">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[P3]" (click)="Seat('P3')" id="P3">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[Q3]" (click)="Seat('Q3')" id="Q3">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[S3]" (click)="Seat('S3')" id="S3">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[T3]" (click)="Seat('T3')" id="T3">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                </ul>

                <!-- ROW 3 COMPLETE  -->

                <ul>
                  <!-- ROW 5 START  -->
                  <li>
                    <a title="[A4]" (click)="Seat('A4')" id="A4">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[B4]" (click)="Seat('B4')" id="B4">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[C4]" (click)="Seat('C4')" id="C4">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[D4]" (click)="Seat('D4')" id="D4">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[E4]" (click)="Seat('E4')" id="E4">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[F4]" (click)="Seat('F4')" id="F4">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[G4]" (click)="Seat('G4')" id="G4">
                      <img src="../assets/img/bseat.png" alt="">

                    </a>
                  </li>
                  <li>
                    <a title="[H4]" (click)="Seat('H4')" id="H4">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[I4]" (click)="Seat('I4')" id="I4">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a (click)="Seat('J4')" id="J4" title="[J4]">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a (click)="Seat('K4')" id="K4" title="[K4]">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[L4]" (click)="Seat('L4')" id="L4">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[M4]" (click)="Seat('M4')" id="M4">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[O4]" (click)="Seat('O4')" id="O4">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[P4]" (click)="Seat('P4')" id="P4">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[Q4]" (click)="Seat('Q4')" id="Q4">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[S4]" (click)="Seat('S4')" id="S4">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                  <li>
                    <a title="[T4]" (click)="Seat('T4')" id="T4">
                      <img src="../assets/img/bseat.png" alt="">
                    </a>
                  </li>
                </ul>
               
               

              </div>
             
            </div>
            <div *ngIf="alert"class="alert alert-danger ">You can buy only 5 seats in one time </div>
          </div>
          <div class="col-md-6 ">
          <div class="seat_plan">
            <table class="table ">
              <thead>
                <tr>
                  <th>Seats</th>
                  <th>Fare</th>
                  <th>Class</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let s of showSeatList">
                  <td>{{s.seatNo}}</td>
                  <td>{{s.fare}}</td>
                  <td>{{s.seatClass}}</td>
                </tr>
              </tbody>
            </table>
          </div>
            <div class="total  bg-default">
              <b>Total: {{total}}</b>
            </div>
            <div class="row ">
              <button (click)="confirmJourney()"class="btn mt-3 ml-3 btn-primary btn-sm btn-block ">Confirm</button>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
